<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>

    <script src="./static/js/form.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
           <form action="/notes/create" method="POST">
    <label>Date</label>
    <input type="text" name="date" id="Date">

    <label>Time</label>
    <input type="text" name="time" id="Time">

    <label>Description</label>
    <input type="text" name="description" id="Description">

    <input type="submit" id="Submiet" value="Create">
</form>

        </div>
            </nav> -->
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron" style="height: 250px">
         <div class="row">
         <div class="col-md-4">
         <a href="#" style="padding: 3px 10px;" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-list-alt"></span> New</a>
          </div>
        <div class="col-md-4">
      
           </div>
        <div class="col-md-4">
        </div>
     </div>

         <div class="row">
         
          <div class="col-md-6">
                <form class="navbar-form navbar-left" >
        <div class="form-group">
          <input type="text" id="search" class="form-control" placeholder="Search" name="q">

          <button type="submit" class="btn btn-success" id="getappointments" style="padding: 3px 10px;">Search</button>
        </div>
       

      </form>

        </div>
        <div class="col-md-6">
        </div>
     </div>
 
        <div class="row marketing">
            <div class="col-lg-12">
               <h2 style="text-align: center">Appointments</h2>.
               <hr style="color: green">

               <table id="myTable">
  <tr class="header">
    <th style="width:60%;">Date</th>
    <th style="width:40%;">Time</th>
    <th style="width:40%;">Description</th>
  </tr>
  <tr id="appointments">

   <!--  <td>Alfreds Futterkiste</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbkop</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Koniglich Essen</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris specialites</td>
    <td>France</td> -->
  </tr>
</table>

            </div>
        </div>
 
        <footer class="footer">
           
        </footer>
 
    </div>

 <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>

 <script type="text/javascript">

// var db = openDatabase('Note', '1.0', 'Appointment Search', 10 );

// db.transaction(function (tx) {
//    tx.executeSql('CREATE TABLE IF NOT EXISTS note (Date, Time, Appointment)');
//   tx.executeSql('INSERT INTO note (Date, Time, Appointment) VALUES (March 23, "10:00 am", "Product Demo for Bergen Promise")');
//   tx.executeSql('INSERT INTO note (Date, Time, Appointment) VALUES ("March 21" , "2:00 pm", "Proposal for Aetos Capital")');
//     tx.executeSql('INSERT INTO note (Date, Time, Appointment) VALUES ("March 24", "3:30 pm", "Benefits Proposal for Bytemark Inc")');
// });


// console.log(db);

// $('.btn btn-success').on('click', function(event){
      
//     });


</script>



</body>
 
</html>